[build.env]
passthrough = [
    "PROTOC",
]

[target.x86_64-unknown-linux-musl]
pre-build = [
    "apt-get update",
    "apt-get install -y curl unzip",
    "curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v25.1/protoc-25.1-linux-x86_64.zip",
    "unzip -q protoc-25.1-linux-x86_64.zip -d /usr/local",
]

[target.aarch64-unknown-linux-musl]
pre-build = [
    "apt-get update",
    "apt-get install -y curl unzip",
    "curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v25.1/protoc-25.1-linux-x86_64.zip",
    "unzip -q protoc-25.1-linux-x86_64.zip -d /usr/local",
]

[target.armv7-unknown-linux-musleabihf]
pre-build = [
    "apt-get update",
    "apt-get install -y curl unzip",
    "curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v25.1/protoc-25.1-linux-x86_64.zip",
    "unzip -q protoc-25.1-linux-x86_64.zip -d /usr/local",
]

[target.i686-unknown-linux-musl]
pre-build = [
    "apt-get update",
    "apt-get install -y curl unzip",
    "curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v25.1/protoc-25.1-linux-x86_64.zip",
    "unzip -q protoc-25.1-linux-x86_64.zip -d /usr/local",
]

[target.x86_64-unknown-freebsd]
pre-build = [
    "apt-get update",
    "apt-get install -y curl unzip",
    "curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v25.1/protoc-25.1-linux-x86_64.zip",
    "unzip -q protoc-25.1-linux-x86_64.zip -d /usr/local",
]
