name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup dependencies
      run: make setup

    - name: Run tests
      run: make test

    - name: Run smoke tests
      run: make smoketest

  loadtest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup dependencies
      run: make setup

    - name: Run load tests
      run: make loadtest

  freebsd:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        copyback: false
        prepare: |
          pkg install -y bash protobuf rust gmake
          ./script/setup-freebsd.sh
        run: |
          gmake test
