name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup dependencies
        run: make setup

      - name: Build release
        run: ./script/build.sh ${{ github.ref_name }}

      - name: Create GitHub release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ github.ref_name }} \
            release/${{ github.ref_name }}/* \
            --title="${{ github.ref_name }}" \
            --generate-notes \
